@page "/login"
@using System.Net.Http.Json
@inject NavigationManager Navigation
@inject IHttpClientFactory ClientFactory

<h3 class="mb-4">Login to Your Account</h3>

<div class="card shadow-sm p-4" style="max-width: 400px;">
    <EditForm Model="@user" OnValidSubmit="HandleLogin">
        <div class="mb-3">
            <label class="form-label">Username</label>
            <InputText class="form-control" placeholder="you@example.com" @bind-Value="user.Username" />
        </div>

        <div class="mb-3">
            <label class="form-label">Password</label>
            <InputText type="password" class="form-control" placeholder="Enter password" @bind-Value="user.Password" />
        </div>

        <button  class="btn btn-primary w-100" type="submit">Login</button>
    </EditForm>
</div>

@if (!string.IsNullOrEmpty(Message))
{
    <div class="alert alert-danger mt-3">@Message</div>
}

@code {
    private UserDto user = new();
    private string Message;

    private async Task HandleLogin()
    {
        var client = ClientFactory.CreateClient("JobPortalAPI");

        try
        {
            var response = await client.PostAsJsonAsync("https://localhost:7253/api/auth/login", user);

            if (response.IsSuccessStatusCode)
            {
                var result = await response.Content.ReadFromJsonAsync<LoginResult>();
                Message = $"Welcome, {result.Username}!";
                Navigation.NavigateTo("/");
            }
            else
            {
                Message = "Invalid email or password.";
            }
        }
        catch (Exception ex)
        {
            Message = "Error connecting to the server: " + ex.Message;
        }
    }

    public class UserDto
    {
        public string Username { get; set; }
        public string Password { get; set; }
    }

    public class LoginResult
    {
        public string Message { get; set; }
        public string Username { get; set; }
        public string Role { get; set; }
    }
}
