@inherits LayoutComponentBase


@* Top Bar *@
<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm px-4">
    <a class="navbar-brand fw-bold text-white" href="/">Job Portal</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link text-white" href="/notifications">🔔 Notifications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/LogOut">LogOut</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/register">Register</a>
            </li>
        </ul>
    </div>
</nav>



<PageTitle>Job Portal</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="main">
        <div class="content px-4    ">
            @Body
        </div>
    </main>
</div>





