<nav class="nav flex-column p-3 bg-light shadow rounded">
    <NavLink class="nav-link" href="/">Home</NavLink>
    <NavLink class="nav-link" href="/register">Register</NavLink>
    <NavLink class="nav-link" href="/login">Login</NavLink>
    <NavLink class="nav-link" href="/post-job">Post Job</NavLink>
    <NavLink class="nav-link" href="/jobs">Browse Jobs</NavLink>
    <NavLink class="nav-link" href="/my-applications">My Applications</NavLink>
    <NavLink class="nav-link" href="/my-jobs">My Posted Jobs</NavLink>
    
</nav>
